---

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="/public/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
		<title>Portfolio Gabriel Fidelibus</title>
	</head>
	<body class="bg-gray-100 font-sans">
		<slot />
		<script src="../js/main.js"></script>
	</body>
</html>
